{
  "openapi": "3.0.1",
  "info": {
    "title": "Open Data Hub Tourism Api",
    "description": "Open Data Hub Tourism Api based on .Net Core with PostgreSQL",
    "termsOfService": "https://opendatahub.readthedocs.io/en/latest/",
    "contact": {
      "name": "Open Data Hub Team",
      "url": "https://opendatahub.com/",
      "email": "help@opendatahub.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://tourism.opendatahub.com"
    }
  ],
 "components": {
    "schemas": {
      "AccoBadges": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoBoards": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoBookingChannel": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Pos1ID": {
            "type": "string",
            "nullable": true
          },
          "Portalname": {
            "type": "string",
            "nullable": true
          },
          "BookingId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoCategory": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoDetail": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "NameAddition": {
            "type": "string",
            "nullable": true
          },
          "Street": {
            "type": "string",
            "nullable": true
          },
          "Zip": {
            "type": "string",
            "nullable": true
          },
          "Phone": {
            "type": "string",
            "nullable": true
          },
          "Mobile": {
            "type": "string",
            "nullable": true
          },
          "Fax": {
            "type": "string",
            "nullable": true
          },
          "Firstname": {
            "type": "string",
            "nullable": true
          },
          "Lastname": {
            "type": "string",
            "nullable": true
          },
          "Email": {
            "type": "string",
            "nullable": true
          },
          "Website": {
            "type": "string",
            "nullable": true
          },
          "City": {
            "type": "string",
            "nullable": true
          },
          "Shortdesc": {
            "type": "string",
            "nullable": true
          },
          "Longdesc": {
            "type": "string",
            "nullable": true
          },
          "Vat": {
            "type": "string",
            "nullable": true
          },
          "CountryCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoFeature": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "HgvId": {
            "type": "string",
            "nullable": true
          },
          "OtaCodes": {
            "type": "string",
            "nullable": true
          },
          "RoomAmenityCodes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoFeatureLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "HgvId": {
            "type": "string",
            "nullable": true
          },
          "OtaCodes": {
            "type": "string",
            "nullable": true
          },
          "RoomAmenityCodes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoRoomDetail": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Longdesc": {
            "type": "string",
            "nullable": true
          },
          "Shortdesc": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoRoomInfoLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoSpecialFeatures": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoThemes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoType": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccoTypes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Key": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "CustomId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccommodationLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "readOnly": true
          },
          "ODHTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHTags"
            },
            "nullable": true,
            "readOnly": true
          },
          "AccoType": {
            "$ref": "#/components/schemas/AccoType"
          },
          "AccoCategory": {
            "$ref": "#/components/schemas/AccoCategory"
          },
          "AccoBoards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoBoards"
            },
            "nullable": true,
            "readOnly": true
          },
          "AccoBadges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoBadges"
            },
            "nullable": true,
            "readOnly": true
          },
          "AccoThemes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoThemes"
            },
            "nullable": true,
            "readOnly": true
          },
          "AccoSpecialFeatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoSpecialFeatures"
            },
            "nullable": true,
            "readOnly": true
          },
          "Features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoFeatureLinked"
            },
            "nullable": true
          },
          "AccoRoomInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoRoomInfoLinked"
            },
            "nullable": true
          },
          "LocationInfo": {
            "$ref": "#/components/schemas/LocationInfoLinked"
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean",
            "description": "Data is marked as Active by the data provider"
          },
          "HgvId": {
            "type": "string",
            "description": "Accommodation ID on the HGV System, use Mapping instead",
            "nullable": true,
            "deprecated": true
          },
          "Shortname": {
            "type": "string",
            "description": "Use AccoDetail.lang.Name",
            "nullable": true,
            "deprecated": true
          },
          "Representation": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "HasApartment": {
            "type": "boolean"
          },
          "HasRoom": {
            "type": "boolean",
            "nullable": true
          },
          "IsCamping": {
            "type": "boolean",
            "nullable": true
          },
          "IsGastronomy": {
            "type": "boolean",
            "nullable": true
          },
          "IsBookable": {
            "type": "boolean"
          },
          "IsAccommodation": {
            "type": "boolean",
            "nullable": true
          },
          "SmgActive": {
            "type": "boolean"
          },
          "TVMember": {
            "type": "boolean",
            "nullable": true
          },
          "TourismVereinId": {
            "type": "string",
            "nullable": true
          },
          "MainLanguage": {
            "type": "string",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Gpstype": {
            "type": "string",
            "nullable": true
          },
          "Latitude": {
            "type": "number",
            "format": "double"
          },
          "Longitude": {
            "type": "number",
            "format": "double"
          },
          "Altitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AltitudeUnitofMeasure": {
            "type": "string",
            "nullable": true
          },
          "DistanceInfo": {
            "$ref": "#/components/schemas/DistanceInfo"
          },
          "AccoCategoryId": {
            "type": "string",
            "nullable": true
          },
          "AccoTypeId": {
            "type": "string",
            "nullable": true
          },
          "DistrictId": {
            "type": "string",
            "nullable": true
          },
          "BoardIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "MarketingGroupIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "BadgeIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ThemeIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SpecialFeaturesIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AccoDetail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AccoDetail"
            },
            "nullable": true
          },
          "AccoBookingChannel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoBookingChannel"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "GastronomyId": {
            "type": "string",
            "nullable": true
          },
          "SmgTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "MssResponseShort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MssResponseShort"
            },
            "nullable": true
          },
          "IndependentData": {
            "$ref": "#/components/schemas/IndependentData"
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "TrustYouID": {
            "type": "string",
            "description": "Accommodation Id on Trust You",
            "nullable": true
          },
          "TrustYouScore": {
            "type": "number",
            "description": "Review Score on Trust You",
            "format": "double"
          },
          "TrustYouResults": {
            "type": "integer",
            "description": "Number of Ratings in Trust You",
            "format": "int32"
          },
          "TrustYouActive": {
            "type": "boolean",
            "description": "Active in Trust You"
          },
          "TrustYouState": {
            "type": "integer",
            "description": "Trust You State on LTS",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "AccommodationLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccommodationLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccommodationLinkedJsonResultWithBookingInfo": {
        "type": "object",
        "properties": {
          "AvailableOnline": {
            "type": "integer",
            "format": "int32"
          },
          "AvailableOnRequest": {
            "type": "integer",
            "format": "int32"
          },
          "AccommodationsRequested": {
            "type": "integer",
            "format": "int32"
          },
          "ResultId": {
            "type": "string",
            "nullable": true
          },
          "OnlineResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccommodationLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccommodationRoomLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccoFeatureLinked"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "A0RID": {
            "type": "string",
            "nullable": true
          },
          "Roomtype": {
            "type": "string",
            "nullable": true
          },
          "AccoRoomDetail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AccoRoomDetail"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "LTSId": {
            "type": "string",
            "nullable": true
          },
          "HGVId": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "RoomCode": {
            "type": "string",
            "nullable": true
          },
          "Roommax": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Roommin": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Roomstd": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "PriceFrom": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RoomQuantity": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "RoomNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RoomClassificationCodes": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "RoomtypeInt": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ActivityTypes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int64"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Parent": {
            "type": "string",
            "nullable": true
          },
          "Key": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AdditionalArticleInfos": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Elements": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AdditionalContact": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "nullable": true
          },
          "ContactInfos": {
            "$ref": "#/components/schemas/ContactInfos"
          },
          "Description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AdditionalPoiInfos": {
        "type": "object",
        "properties": {
          "Novelty": {
            "type": "string",
            "nullable": true
          },
          "MainType": {
            "type": "string",
            "description": "Use Categories instead",
            "nullable": true,
            "deprecated": true
          },
          "SubType": {
            "type": "string",
            "description": "Use Categories instead",
            "nullable": true,
            "deprecated": true
          },
          "PoiType": {
            "type": "string",
            "description": "Use Categories instead",
            "nullable": true,
            "deprecated": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgeRange": {
        "type": "object",
        "properties": {
          "AgeFrom": {
            "type": "integer",
            "format": "int32"
          },
          "AgeTo": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "AreaInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Deprecated use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false
      },
      "AreaInfoLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Deprecated use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false
      },
      "AreaLink": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AreaLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "readOnly": true
          },
          "Region": {
            "$ref": "#/components/schemas/RegionLink"
          },
          "Municipality": {
            "$ref": "#/components/schemas/MunicipalityLink"
          },
          "Tourismassociation": {
            "$ref": "#/components/schemas/TourismAssociationLink"
          },
          "SkiArea": {
            "$ref": "#/components/schemas/SkiAreaLink"
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "SmgActive": {
            "type": "boolean"
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "CustomId": {
            "type": "string",
            "nullable": true
          },
          "RegionId": {
            "type": "string",
            "nullable": true
          },
          "TourismvereinId": {
            "type": "string",
            "nullable": true
          },
          "MunicipalityId": {
            "type": "string",
            "nullable": true
          },
          "SkiAreaID": {
            "type": "string",
            "nullable": true
          },
          "GID": {
            "type": "string",
            "nullable": true
          },
          "LtsID": {
            "type": "string",
            "nullable": true
          },
          "AreaType": {
            "type": "string",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AreaLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AreaLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ArticleLinkInfo": {
        "type": "object",
        "properties": {
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Elements": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ArticleTypes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int64"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Parent": {
            "type": "string",
            "nullable": true
          },
          "Key": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ArticlesLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "readOnly": true
          },
          "ArticleTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHActivityPoiTypesLink"
            },
            "nullable": true,
            "readOnly": true
          },
          "ArticleTypeList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "ODHTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHTags"
            },
            "nullable": true,
            "readOnly": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "Highlight": {
            "type": "boolean"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "SubType": {
            "type": "string",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "SmgActive": {
            "type": "boolean"
          },
          "ArticleDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ArticleDateTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "OperationSchedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationSchedule"
            },
            "nullable": true
          },
          "GpsInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "nullable": true
          },
          "GpsTrack": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsTrack"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "ContactInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ContactInfos"
            },
            "nullable": true
          },
          "AdditionalArticleInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AdditionalArticleInfos"
            },
            "nullable": true
          },
          "ArticleLinkInfo": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ArticleLinkInfo"
            },
            "nullable": true
          },
          "SmgTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "DistanceInfo": {
            "$ref": "#/components/schemas/DistanceInfo"
          }
        },
        "additionalProperties": false
      },
      "ArticlesLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArticlesLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Bank": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Iban": {
            "type": "string",
            "nullable": true
          },
          "Swift": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BezirksForecast": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "WeatherCode": {
            "type": "string",
            "nullable": true
          },
          "WeatherDesc": {
            "type": "string",
            "nullable": true
          },
          "WeatherImgUrl": {
            "type": "string",
            "nullable": true
          },
          "Weathercode": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Weatherdesc": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "WeatherImgurl": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "MaxTemp": {
            "type": "integer",
            "format": "int32"
          },
          "MinTemp": {
            "type": "integer",
            "format": "int32"
          },
          "Freeze": {
            "type": "integer",
            "format": "int32"
          },
          "RainFrom": {
            "type": "integer",
            "format": "int32"
          },
          "RainTo": {
            "type": "integer",
            "format": "int32"
          },
          "Part1": {
            "type": "integer",
            "format": "int32"
          },
          "Part2": {
            "type": "integer",
            "format": "int32"
          },
          "Part3": {
            "type": "integer",
            "format": "int32"
          },
          "Part4": {
            "type": "integer",
            "format": "int32"
          },
          "Thunderstorm": {
            "type": "integer",
            "format": "int32"
          },
          "SymbolId": {
            "type": "integer",
            "format": "int32"
          },
          "Reliability": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BezirksWeather": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32"
          },
          "DistrictName": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "TourismVereinIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "BezirksForecast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BezirksForecast"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          }
        },
        "additionalProperties": false
      },
      "CancelPolicy": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Refundable": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "RefundableUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Penalties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Penalty"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CapacityCeremonyLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "MaxSeatingCapacity": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CategoryCodesLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CheapestOffer": {
        "type": "object",
        "properties": {
          "RoomId": {
            "type": "string",
            "nullable": true
          },
          "RoomSeq": {
            "type": "integer",
            "format": "int32"
          },
          "Price": {
            "type": "number",
            "format": "double"
          },
          "RoomFree": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CheapestRoomCombination": {
        "type": "object",
        "properties": {
          "CheapestRoomCombinationDetail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheapestOffer"
            },
            "nullable": true
          },
          "Service": {
            "type": "string",
            "nullable": true
          },
          "Price": {
            "type": "number",
            "format": "double",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CompanyLink": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conditions": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "WeatherCondition": {
            "type": "string",
            "nullable": true
          },
          "WeatherImgurl": {
            "type": "string",
            "nullable": true
          },
          "Temperatures": {
            "type": "string",
            "nullable": true
          },
          "Weatherdesc": {
            "type": "string",
            "nullable": true
          },
          "WeatherDesc": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "WeatherImgUrl": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Reliability": {
            "type": "string",
            "nullable": true
          },
          "TempMaxmax": {
            "type": "integer",
            "format": "int32"
          },
          "TempMaxmin": {
            "type": "integer",
            "format": "int32"
          },
          "TempMinmax": {
            "type": "integer",
            "format": "int32"
          },
          "TempMinmin": {
            "type": "integer",
            "format": "int32"
          },
          "bulletinStatus": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ContactInfos": {
        "type": "object",
        "properties": {
          "Address": {
            "type": "string",
            "description": "Street Address",
            "nullable": true
          },
          "Region": {
            "type": "string",
            "description": "Region (Province / State / Departement / Canton etc...",
            "nullable": true
          },
          "RegionCode": {
            "type": "string",
            "description": "Regioncode",
            "nullable": true
          },
          "Area": {
            "type": "string",
            "description": "Area (Additional Area Name)",
            "nullable": true
          },
          "City": {
            "type": "string",
            "nullable": true
          },
          "ZipCode": {
            "type": "string",
            "nullable": true
          },
          "CountryCode": {
            "type": "string",
            "nullable": true
          },
          "CountryName": {
            "type": "string",
            "nullable": true
          },
          "Surname": {
            "type": "string",
            "nullable": true
          },
          "Givenname": {
            "type": "string",
            "nullable": true
          },
          "NamePrefix": {
            "type": "string",
            "nullable": true
          },
          "Email": {
            "type": "string",
            "nullable": true
          },
          "Phonenumber": {
            "type": "string",
            "nullable": true
          },
          "Faxnumber": {
            "type": "string",
            "nullable": true
          },
          "Url": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "CompanyName": {
            "type": "string",
            "nullable": true
          },
          "Vat": {
            "type": "string",
            "nullable": true
          },
          "Tax": {
            "type": "string",
            "nullable": true
          },
          "LogoUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DDVenueCodes": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Code": {
            "type": "string",
            "nullable": true
          },
          "TypeDesc": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "Bitmask": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Detail": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "string",
            "nullable": true
          },
          "SubHeader": {
            "type": "string",
            "nullable": true
          },
          "IntroText": {
            "type": "string",
            "nullable": true
          },
          "BaseText": {
            "type": "string",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "AdditionalText": {
            "type": "string",
            "nullable": true
          },
          "MetaTitle": {
            "type": "string",
            "nullable": true
          },
          "MetaDesc": {
            "type": "string",
            "nullable": true
          },
          "GetThereText": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ParkingInfo": {
            "type": "string",
            "nullable": true
          },
          "PublicTransportationInfo": {
            "type": "string",
            "nullable": true
          },
          "AuthorTip": {
            "type": "string",
            "nullable": true
          },
          "SafetyInfo": {
            "type": "string",
            "nullable": true
          },
          "EquipmentInfo": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DetailThemed": {
        "type": "object",
        "properties": {
          "DetailsThemed": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DetailsThemed"
            },
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DetailsThemed": {
        "type": "object",
        "properties": {
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Intro": {
            "type": "string",
            "nullable": true
          },
          "MetaTitle": {
            "type": "string",
            "nullable": true
          },
          "MetaDesc": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DishRatesLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "MinAmount": {
            "type": "number",
            "format": "double"
          },
          "MaxAmount": {
            "type": "number",
            "format": "double"
          },
          "CurrencyCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistanceInfo": {
        "type": "object",
        "properties": {
          "DistanceToMunicipality": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DistanceToDistrict": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistrictInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Deprecated use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false
      },
      "DistrictInfoLinked": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Deprecated use the Id/Selflink to retrieve correct names from the appropriate Endpoint",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false
      },
      "DistrictLink": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Self": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DistrictLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "ODHTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHTags"
            },
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "readOnly": true
          },
          "Region": {
            "$ref": "#/components/schemas/RegionLink"
          },
          "Municipality": {
            "$ref": "#/components/schemas/MunicipalityLink"
          },
          "Tourismassociation": {
            "$ref": "#/components/schemas/TourismAssociationLink"
          },
          "IsComune": {
            "type": "boolean",
            "nullable": true
          },
          "RegionId": {
            "type": "string",
            "nullable": true
          },
          "TourismvereinId": {
            "type": "string",
            "nullable": true
          },
          "MunicipalityId": {
            "type": "string",
            "nullable": true
          },
          "SiagId": {
            "type": "string",
            "nullable": true
          },
          "GpsPolygon": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsPolygon"
            },
            "nullable": true
          },
          "VisibleInSearch": {
            "type": "boolean"
          },
          "RelatedContent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedContent"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "CustomId": {
            "type": "string",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "Gpstype": {
            "type": "string",
            "description": "Deprecated, use GpsPoints",
            "nullable": true,
            "deprecated": true
          },
          "Latitude": {
            "type": "number",
            "description": "Deprecated, use GpsPoints",
            "format": "double",
            "deprecated": true
          },
          "Longitude": {
            "type": "number",
            "description": "Deprecated, use GpsPoints",
            "format": "double",
            "deprecated": true
          },
          "Altitude": {
            "type": "number",
            "description": "Deprecated, use GpsPoints",
            "format": "double",
            "nullable": true,
            "deprecated": true
          },
          "AltitudeUnitofMeasure": {
            "type": "string",
            "description": "Deprecated, use GpsPoints",
            "nullable": true,
            "deprecated": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "ContactInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ContactInfos"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "SmgTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SmgActive": {
            "type": "boolean"
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "DistanceInfo": {
            "$ref": "#/components/schemas/DistanceInfo"
          }
        },
        "additionalProperties": false
      },
      "DistrictLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DistrictLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Document": {
        "type": "object",
        "properties": {
          "DocumentName": {
            "type": "string",
            "nullable": true
          },
          "DocumentURL": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DocumentPDF": {
        "type": "object",
        "properties": {
          "DocumentURL": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventAdditionalInfos": {
        "type": "object",
        "properties": {
          "Mplace": {
            "type": "string",
            "nullable": true
          },
          "Reg": {
            "type": "string",
            "nullable": true
          },
          "Location": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventBooking": {
        "type": "object",
        "properties": {
          "BookableFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "BookableTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "AccommodationAssignment": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "BookingUrl": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EventBookingDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventBookingDetail": {
        "type": "object",
        "properties": {
          "Url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventCrossSelling": {
        "type": "object",
        "properties": {
          "EventRID": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventDate": {
        "type": "object",
        "properties": {
          "From": {
            "type": "string",
            "format": "date-time"
          },
          "To": {
            "type": "string",
            "format": "date-time"
          },
          "SingleDays": {
            "type": "boolean",
            "nullable": true
          },
          "MinPersons": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "MaxPersons": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Ticket": {
            "type": "boolean",
            "nullable": true
          },
          "GpsNorth": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "GpsEast": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Begin": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "End": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "Entrance": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "InscriptionTill": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Active": {
            "type": "boolean",
            "nullable": true
          },
          "DayRID": {
            "type": "string",
            "nullable": true
          },
          "EventDateAdditionalInfo": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EventDateAdditionalInfo"
            },
            "nullable": true
          },
          "EventDateAdditionalTime": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventDateAdditionalTime"
            },
            "nullable": true
          },
          "EventCalculatedDay": {
            "$ref": "#/components/schemas/EventDateCalculatedDay"
          },
          "PriceFrom": {
            "type": "string",
            "nullable": true
          },
          "Cancelled": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventDateAdditionalInfo": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Guide": {
            "type": "string",
            "nullable": true
          },
          "InscriptionLanguage": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Cancelled": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventDateAdditionalTime": {
        "type": "object",
        "properties": {
          "Days": {
            "type": "string",
            "nullable": true
          },
          "Entrance1": {
            "type": "string",
            "format": "date-span"
          },
          "Begin1": {
            "type": "string",
            "format": "date-span"
          },
          "End1": {
            "type": "string",
            "format": "date-span"
          },
          "Entrance2": {
            "type": "string",
            "format": "date-span"
          },
          "Begin2": {
            "type": "string",
            "format": "date-span"
          },
          "End2": {
            "type": "string",
            "format": "date-span"
          }
        },
        "additionalProperties": false
      },
      "EventDateCalculatedDay": {
        "type": "object",
        "properties": {
          "CDayRID": {
            "type": "string",
            "nullable": true
          },
          "Day": {
            "type": "string",
            "format": "date-time"
          },
          "Begin": {
            "type": "string",
            "format": "date-span"
          }
        },
        "additionalProperties": false
      },
      "EventDescAdditional": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Order": {
            "type": "string",
            "nullable": true
          },
          "RQPlain": {
            "type": "string",
            "nullable": true
          },
          "RQHtml": {
            "type": "string",
            "nullable": true
          },
          "RSPlain": {
            "type": "string",
            "nullable": true
          },
          "RSHtml": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "EventDatesBegin": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Obsolete",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EventDatesEnd": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Obsolete",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EventDateCounter": {
            "type": "integer",
            "description": "Obsolete",
            "format": "int32",
            "readOnly": true,
            "deprecated": true
          },
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Districts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DistrictLink"
            },
            "nullable": true,
            "readOnly": true
          },
          "ODHTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODHTags"
            },
            "nullable": true,
            "readOnly": true
          },
          "OdhActive": {
            "type": "boolean",
            "readOnly": true
          },
          "Topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopicLinked"
            },
            "nullable": true
          },
          "LocationInfo": {
            "$ref": "#/components/schemas/LocationInfoLinked"
          },
          "LTSTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LTSTagsLinked"
            },
            "nullable": true
          },
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Active": {
            "type": "boolean"
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "DateBegin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "DateEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Gpstype": {
            "type": "string",
            "nullable": true
          },
          "Latitude": {
            "type": "number",
            "format": "double"
          },
          "Longitude": {
            "type": "number",
            "format": "double"
          },
          "Altitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AltitudeUnitofMeasure": {
            "type": "string",
            "nullable": true
          },
          "OrgRID": {
            "type": "string",
            "nullable": true
          },
          "Ranc": {
            "type": "integer",
            "description": "Obsolete use EventPublisher List",
            "format": "int32",
            "nullable": true,
            "deprecated": true
          },
          "Ticket": {
            "type": "string",
            "nullable": true
          },
          "SignOn": {
            "type": "string",
            "nullable": true
          },
          "PayMet": {
            "type": "string",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "description": "Obsolete",
            "nullable": true,
            "deprecated": true
          },
          "Pdf": {
            "type": "string",
            "nullable": true
          },
          "DistrictId": {
            "type": "string",
            "nullable": true
          },
          "DistrictIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "Detail": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Detail"
            },
            "nullable": true
          },
          "TopicRIDs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "EventPublisher": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventPublisher"
            },
            "nullable": true
          },
          "EventAdditionalInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EventAdditionalInfos"
            },
            "nullable": true
          },
          "EventPrice": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EventPrice"
            },
            "nullable": true
          },
          "EventDate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventDate"
            },
            "nullable": true
          },
          "ContactInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ContactInfos"
            },
            "nullable": true
          },
          "OrganizerInfos": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ContactInfos"
            },
            "nullable": true
          },
          "SmgTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SmgActive": {
            "type": "boolean"
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "NextBeginDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "GrpEvent": {
            "type": "boolean",
            "nullable": true
          },
          "EventBenefit": {
            "type": "boolean",
            "nullable": true
          },
          "EventBooking": {
            "$ref": "#/components/schemas/EventBooking"
          },
          "EventPrices": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventPrice"
              }
            },
            "nullable": true
          },
          "Hashtag": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "EventOperationScheduleOverview": {
            "$ref": "#/components/schemas/EventOperationScheduleOverview"
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ClassificationRID": {
            "type": "string",
            "nullable": true
          },
          "EventCrossSelling": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventCrossSelling"
            },
            "nullable": true
          },
          "EventDescAdditional": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EventDescAdditional"
            },
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "DistanceInfo": {
            "$ref": "#/components/schemas/DistanceInfo"
          }
        },
        "additionalProperties": false
      },
      "EventLinkedJsonResult": {
        "type": "object",
        "properties": {
          "TotalResults": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "CurrentPage": {
            "type": "integer",
            "format": "int32"
          },
          "PreviousPage": {
            "type": "string",
            "nullable": true
          },
          "NextPage": {
            "type": "string",
            "nullable": true
          },
          "Seed": {
            "type": "string",
            "nullable": true
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventLinked"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventOperationScheduleOverview": {
        "type": "object",
        "properties": {
          "Monday": {
            "type": "boolean"
          },
          "Tuesday": {
            "type": "boolean"
          },
          "Wednesday": {
            "type": "boolean"
          },
          "Thursday": {
            "type": "boolean"
          },
          "Friday": {
            "type": "boolean"
          },
          "Saturday": {
            "type": "boolean"
          },
          "Sunday": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EventPrice": {
        "type": "object",
        "properties": {
          "Price": {
            "type": "number",
            "format": "double"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Pstd": {
            "type": "string",
            "nullable": true
          },
          "ShortDesc": {
            "type": "string",
            "nullable": true
          },
          "LongDesc": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "PriceRID": {
            "type": "string",
            "nullable": true
          },
          "VarRID": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventPublisher": {
        "type": "object",
        "properties": {
          "PublisherRID": {
            "type": "string",
            "nullable": true
          },
          "Ranc": {
            "type": "integer",
            "format": "int32"
          },
          "Publish": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "EventShort": {
        "type": "object",
        "properties": {
          "LicenseInfo": {
            "$ref": "#/components/schemas/LicenseInfo"
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "EventLocation": {
            "enum": [
              "NOI",
              "EC"
            ],
            "type": "string",
            "nullable": true
          },
          "EventId": {
            "type": "integer",
            "format": "int32"
          },
          "EventText": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "EventTitle": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "EventTextDE": {
            "type": "string",
            "description": "Deprecated, use EventText",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EventTextIT": {
            "type": "string",
            "description": "Deprecated, use EventText",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EventTextEN": {
            "type": "string",
            "description": "Deprecated, use EventText",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EventDescription": {
            "type": "string",
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "deprecated": true
          },
          "EventDescriptionDE": {
            "type": "string",
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EventDescriptionIT": {
            "type": "string",
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EventDescriptionEN": {
            "type": "string",
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "AnchorVenue": {
            "type": "string",
            "nullable": true
          },
          "AnchorVenueShort": {
            "type": "string",
            "nullable": true
          },
          "ChangedOn": {
            "type": "string",
            "format": "date-time"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "StartDateUTC": {
            "type": "number",
            "format": "double"
          },
          "EndDateUTC": {
            "type": "number",
            "format": "double"
          },
          "WebAddress": {
            "type": "string",
            "nullable": true
          },
          "Display1": {
            "pattern": "Y|N",
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Active",
            "nullable": true,
            "deprecated": true
          },
          "Display2": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Intranet Eurac",
            "nullable": true,
            "deprecated": true
          },
          "Display3": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Website Eurac",
            "nullable": true,
            "deprecated": true
          },
          "Display4": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "deprecated": true
          },
          "Display5": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "deprecated": true
          },
          "Display6": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "deprecated": true
          },
          "Display7": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "deprecated": true
          },
          "Display8": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "deprecated": true
          },
          "Display9": {
            "enum": [
              "Y",
              "N"
            ],
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "deprecated": true
          },
          "CompanyName": {
            "type": "string",
            "nullable": true
          },
          "CompanyId": {
            "type": "string",
            "nullable": true
          },
          "CompanyAddressLine1": {
            "type": "string",
            "nullable": true
          },
          "CompanyAddressLine2": {
            "type": "string",
            "nullable": true
          },
          "CompanyAddressLine3": {
            "type": "string",
            "nullable": true
          },
          "CompanyPostalCode": {
            "type": "string",
            "nullable": true
          },
          "CompanyCity": {
            "type": "string",
            "nullable": true
          },
          "CompanyCountry": {
            "type": "string",
            "nullable": true
          },
          "CompanyPhone": {
            "type": "string",
            "nullable": true
          },
          "CompanyFax": {
            "type": "string",
            "nullable": true
          },
          "CompanyMail": {
            "type": "string",
            "nullable": true
          },
          "CompanyUrl": {
            "type": "string",
            "nullable": true
          },
          "ContactCode": {
            "type": "string",
            "nullable": true
          },
          "ContactFirstName": {
            "type": "string",
            "nullable": true
          },
          "ContactLastName": {
            "type": "string",
            "nullable": true
          },
          "ContactPhone": {
            "type": "string",
            "nullable": true
          },
          "ContactCell": {
            "type": "string",
            "nullable": true
          },
          "ContactFax": {
            "type": "string",
            "nullable": true
          },
          "ContactEmail": {
            "type": "string",
            "nullable": true
          },
          "ContactAddressLine1": {
            "type": "string",
            "nullable": true
          },
          "ContactAddressLine2": {
            "type": "string",
            "nullable": true
          },
          "ContactAddressLine3": {
            "type": "string",
            "nullable": true
          },
          "ContactPostalCode": {
            "type": "string",
            "nullable": true
          },
          "ContactCity": {
            "type": "string",
            "nullable": true
          },
          "ContactCountry": {
            "type": "string",
            "nullable": true
          },
          "RoomBooked": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoomBooked"
            },
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "VideoUrl": {
            "type": "string",
            "nullable": true
          },
          "TechnologyFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "CustomTagging": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "EventDocument": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentPDF"
            },
            "nullable": true,
            "readOnly": true
          },
          "Documents": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Document"
              }
            },
            "nullable": true
          },
          "ExternalOrganizer": {
            "type": "boolean",
            "nullable": true
          },
          "Shortname": {
            "type": "string",
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AnchorVenueRoomMapping": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "FirstImport": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastChange": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "SoldOut": {
            "type": "boolean",
            "nullable": true
          },
          "ActiveToday": {
            "type": "boolean",
            "description": " ActiveToday Indicates if Event is shown on the today NOI Website",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "ActiveWeb": {
            "type": "boolean",
            "description": " ActiveWeb Indicates if Event is shown on the Noi Website Section Events at NOI",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "ActiveCommunityApp": {
            "type": "boolean",
            "description": "ActiveCommunityApp Indicates if Event is shown on the Noi Community App",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "HasLanguage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "GpsInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "nullable": true
          },
          "GpsPoints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GpsInfo"
            },
            "description": "generated field",
            "nullable": true,
            "readOnly": true
          },
          "TypicalAgeRange": {
            "$ref": "#/components/schemas/AgeRange"
          }
        },
        "additionalProperties": false
      },
      "EventShortByRoom": {
        "type": "object",
        "properties": {
          "SpaceDescList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SpaceDesc": {
            "type": "string",
            "nullable": true
          },
          "SpaceType": {
            "type": "string",
            "nullable": true
          },
          "Subtitle": {
            "type": "string",
            "nullable": true
          },
          "RoomStartDate": {
            "type": "string",
            "format": "date-time"
          },
          "RoomEndDate": {
            "type": "string",
            "format": "date-time"
          },
          "RoomStartDateUTC": {
            "type": "number",
            "format": "double"
          },
          "RoomEndDateUTC": {
            "type": "number",
            "format": "double"
          },
          "EventId": {
            "type": "integer",
            "format": "int32"
          },
          "EventTitle": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "EventText": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "EventDescription": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "deprecated": true
          },
          "EventDescriptionDE": {
            "type": "string",
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "deprecated": true
          },
          "EventDescriptionIT": {
            "type": "string",
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "deprecated": true
          },
          "EventDescriptionEN": {
            "type": "string",
            "description": "Deprecated, use EventTitle",
            "nullable": true,
            "deprecated": true
          },
          "EventAnchorVenue": {
            "type": "string",
            "nullable": true
          },
          "EventAnchorVenueShort": {
            "type": "string",
            "nullable": true
          },
          "EventStartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EventEndDate": {
            "type": "string",
            "format": "date-time"
          },
          "EventStartDateUTC": {
            "type": "number",
            "format": "double"
          },
          "EventEndDateUTC": {
            "type": "number",
            "format": "double"
          },
          "EventWebAddress": {
            "type": "string",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "EventSource": {
            "type": "string",
            "nullable": true
          },
          "EventLocation": {
            "type": "string",
            "nullable": true
          },
          "CompanyName": {
            "type": "string",
            "nullable": true
          },
          "ImageGallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGallery"
            },
            "nullable": true
          },
          "VideoUrl": {
            "type": "string",
            "nullable": true
          },
          "ActiveWeb": {
            "type": "boolean",
            "nullable": true
          },
          "EventTextDE": {
            "type": "string",
            "description": "Deprecated, use EventText",
            "nullable": true,
            "deprecated": true
          },
          "EventTextIT": {
            "type": "string",
            "description": "Deprecated, use EventText",
            "nullable": true,
            "deprecated": true
          },
          "EventTextEN": {
            "type": "string",
            "description": "Deprecated, use EventText",
            "nullable": true,
            "deprecated": true
          },
          "TechnologyFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "CustomTagging": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SoldOut": {
            "type": "boolean",
            "nullable": true
          },
          "EventDocument": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "ExternalOrganizer": {
            "type": "boolean",
            "nullable": true
          },
          "PublishedOn": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventShortLinked": {
        "type": "object",
        "properties": {
          "_Meta": {
            "$ref": "#/components/schemas/Metadata"
          },
          "Self": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "LicenseInfo": {
[...]
